@use '@/styles/constants/colors' as colors;

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: colors.$primary-color;
  border-radius: 5px;
  border: none;
}

*::-webkit-scrollbar-corner {
  background: transparent;
}