@use '../styles/constants/colors' as colors;
@use './radio' as radio;

.seo-radio {
  display: inline-grid;
  grid-auto-flow: column;
  align-items: center;
  gap: radio.$radio-group-gap;

  .radio-label {
    position: relative;
    display: inline-grid;
    grid-auto-flow: column;
    align-items: center;
    gap: radio.$radio-gap;
    cursor: pointer;
    height: 100%;

    svg {
      width: radio.$radio-size;
      height: radio.$radio-size;
      fill: none;

      circle {
        stroke-width: radio.$radio-stroke-width;
        stroke: colors.pick(gray, 5);
      }

      path {
        stroke: colors.$secondary-color;

        &.inner {
          stroke-width: radio.$radio-inner-stroke-width;
          stroke-dasharray: radio.$radio-inner-dash-array;
          stroke-dashoffset: radio.$radio-inner-dash-offset;
        }

        &.outer {
          stroke-width: radio.$radio-outer-stroke-width;
          stroke-dasharray: radio.$radio-outer-dash-array;
          stroke-dashoffset: radio.$radio-outer-dash-offset;
        }
      }
    }

    .label-text {
      white-space: nowrap;
      position: relative;
      white-space: nowrap;

      &::after {
        content: "";
        position: absolute;
        bottom: radio.$radio-label-underline-bottom;
        left: 0;
        width: 0%;
        height: radio.$radio-label-underline-height;
        background: colors.$secondary-color;
        transition: width radio.$radio-label-underline-duration radio.$radio-transition-easing;
      }
    }

    input[type='radio'] {
      display: none;
    }

    input[type='radio']:checked + svg {
      path {
        transition: all radio.$radio-transition-duration radio.$radio-transition-easing;

        &.inner {
          stroke-dashoffset: radio.$radio-inner-dash-offset-checked;
          transition-delay: radio.$radio-inner-transition-delay;
        }

        &.outer {
          stroke-dashoffset: radio.$radio-outer-dash-offset-checked;
        }
      }
    }

    input[type='radio']:checked ~ .label-text {
      color: colors.$secondary-color;

      &::after {
        width: 100%;
        transition: all radio.$radio-label-underline-checked-duration radio.$radio-transition-easing;
      }
    }
  }

  &.is-disabled {
    cursor: not-allowed;
    opacity: radio.$radio-disabled-opacity;
    pointer-events: none;
  }
}