@use '@/styles/constants/colors' as colors;

#main {
  min-height: 100vh;
  background-color: colors.$main-bg-light;

  // 다크모드 지원
  :global(body.dark) & {
    background-color: colors.$main-bg-dark;
  }
}