.form-example{
    padding: 5rem 8rem;
    display:grid; 
    gap:2rem; 
    width: 50rem; 
    height:50rem;
}

@media (max-width: 900px) {
  .first{
    display: none;
  }

  .form-example {
    width: 90vw; 
    height: 100%;
  }
}