@use '@/routes/styles/constants/colors' as colors;

.ag-breadcrumb__wrapper {
  width: 100%;
}

.ag-breadcrumb__list {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.ag-breadcrumb__item {
  display: flex;
  align-items: center;

  &:not(:last-child)::after {
    content: ">";
    margin: 0 8px;
    color: colors.$font-secondary-color;
  }
}

.ag-breadcrumb__link {
  color: colors.$font-secondary-color;
  font-weight: normal;
  transition: 0.3s ease-in-out;
  text-decoration: none;

  &:hover {
    color: colors.$font-color;
  }

  &.active {
    color: colors.$font-color;
    font-weight: 500;
  }
}

.ag-breadcrumb__home-icon {
  margin-right: 4px;
  fill: colors.$font-secondary-color;

  .ag-breadcrumb__link.active & {
    fill: colors.$font-color;
  }
}
