@use '@/routes/styles/constants/colors' as colors;

.ag-button {
  position: relative;
  padding: 1rem 2rem;
  width: 100%;
  height: 100%;
  align-self: center;
  white-space: nowrap;
  border-radius: 5px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.3s ease-in-out;

  // --------------------
  // Variant Styles
  // --------------------
  &.primary {
    background-color: colors.$primary-color;
    color: white;

    &:hover:enabled {
      background-color: colors.$primary-hover;
    }
  }

  &.success {
    background-color: #fff;
    color: colors.$success-color;
    border: 1px solid colors.$success-color;
  }

  &.warning {
    background-color: #fff;
    color: colors.$warning-color;
    border: 1px solid colors.$warning-color;
  }

  &.error {
    background-color: #fff;
    color: colors.$error-color;
    border: 1px solid colors.$error-color;
  }

  &.white {
    background-color: white;
    color: colors.$font-color;
    border: 1px solid colors.$font-color;
  }

  // --------------------
  // Size Styles
  // --------------------
  &.small {
    padding: 0.5rem 0.8rem;
    font-size: 1.2rem;
  }

  &.large {
    padding: 2rem 3rem;
    font-size: 1.5rem;
  }

  // --------------------
  // State Styles
  // --------------------
  &:disabled {
    background-color: colors.$disabled-color;
    color: colors.$font-secondary-color;
    border-color: transparent;
    cursor: not-allowed;
  }

  &.hide-text {
    color: transparent;
    transition: none;
  }

  // --------------------
  // Spinner
  // --------------------
  .spinner {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    width: 1em;
    height: 1em;
    border: 3px solid colors.$primary-color;
    border-top-color: transparent;
    border-radius: 50%;
    transform: translate3d(-50%, -50%, 0);
    animation: spin 0.6s linear infinite;
    display: inline-block;
    vertical-align: middle;
    opacity: 0;

    &.show {
      display: block;
      opacity: 1;
    }
  }

  @keyframes spin {
    to {
      transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
  }
}
