@use "@/routes/styles/constants/colors";

.notice {
  padding: 1rem 2rem;
  background-color: colors.$primary-bg-color;
  color: colors.$primary-color;
  font-weight: 500;
  line-break: anywhere;
  line-height: 1.25;

  &.error{
    background-color: colors.$error-bg-color;
    color: colors.$error-color;
  }

  &.warning{
    background-color: colors.$warning-bg-color;
    color: colors.$warning-color;
  }

  &.success{
    background-color: colors.$success-bg-color;
    color: colors.$success-color;
  }

  &.small {
    padding: 0.3rem;
  }
}

