@use '../styles/constants/colors' as colors;
@use './grid-table' as grid;
@use "sass:color";

.seo-grid-table {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  overflow: hidden;
  box-shadow: grid.$table-box-shadow;

  .ag-table-scroll {
    // 스크롤 가능 영역
    position: relative;
    width: 100%;
    overflow: auto;
    scrollbar-gutter: stable;

    will-change: scroll-position, transform;

    --top-placeholder: 0px;
    --bottom-placeholder: 0px;

    // placeholder tr 높이는 CSS 변수를 통해
    .virtual-placeholder {
      will-change: transform;
      transition: none !important;
    }
    .virtual-placeholder.top    { height: var(--top-placeholder); }
    .virtual-placeholder.bottom { height: var(--bottom-placeholder); }

    // 실제 행 높이도 CSS 변수에서
    table {
      width: 100%;
      table-layout: fixed;
      border-spacing: 0;

      th {
        height: grid.$table-header-height;
        border-bottom: grid.$cell-border-width solid colors.$border-color;
        color: colors.$font-secondary-color;
        font-weight: grid.$table-header-font-weight;
      }

      th, td {
        padding: grid.$table-padding;
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &.text-center {
          text-align: center;
        }
        &.text-right {
          text-align: right;
        }
        &.text-left {
          text-align: left;
        }

        &.empty {
          color: colors.pick(gray, 4);
        }
      }

      thead {
        position: sticky;
        top: 0;
        background-color: colors.$box-head-border-color;
        z-index: grid.$table-header-z-index;
        transition: grid.$table-scrolling-transition;

        &.scrolling {
          filter: drop-shadow(grid.$table-scrolling-shadow);
        }
      }

      tbody {
        tr {
          td {
            position: relative;
            border: grid.$cell-border-width solid transparent;
            height: var(--row-height, grid.$table-row-height); // 기본높이 제어 가능

            &.fill-preview-top    { border-top: grid.$cell-preview-border; }
            &.fill-preview-bottom { border-bottom: grid.$cell-preview-border !important;}
            &.fill-preview-left   { border-left: grid.$cell-preview-border; }
            &.fill-preview-right  { border-right: grid.$cell-preview-border; }

            &.active { background-color: colors.$primary-bg-color }
            &.active.no-selecte { opacity: grid.$cell-active-opacity; }
            &.start-cell { background-color: transparent;}
            &.active-top { border-top: grid.$cell-border-width solid grid.$cell-active-border-color; }
            &.active-bottom { border-bottom: grid.$cell-border-width solid grid.$cell-active-border-color !important; }
            &.active-left { border-left: grid.$cell-border-width solid grid.$cell-active-border-color; }
            &.active-right { border-right: grid.$cell-border-width solid grid.$cell-active-border-color; }
            &.copy-flash { animation: copyFlash grid.$cell-copy-flash-duration ease-out; }

            @keyframes copyFlash {
              0% {
                opacity: grid.$cell-active-opacity;
              }
              100% {
                opacity: 1;
              }
            }

            & img{
              display: block;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          button {
            width: 100%;
            height: 100%;
          }

          &.canceled {
            td {
              color: colors.pick(red, 3);
            }
          }
        }
        tr:not(:last-child) {
          td {
            border-bottom: grid.$cell-border-width solid colors.$border-color;
          }
        }
        tr.active {
          color: colors.$primary-color;
        }
        tr:hover { cursor: pointer; }
      }
    }
  }

  .fill-handler {
    position: absolute;
    right: 0;
    bottom: 0;
    width: grid.$fill-handler-size;
    height: grid.$fill-handler-size;
    background: grid.$fill-handler-color;
    border-radius: grid.$fill-handler-border-radius;
    cursor: crosshair;
    display: none;
  }

  .context-menu {
    position: absolute;
    right: grid.$context-menu-position;
    top: grid.$context-menu-position;
    display: none;
    padding: grid.$context-menu-padding;
    min-width: grid.$context-menu-min-width;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: grid.$context-menu-border-radius;
    box-shadow: grid.$context-menu-box-shadow;
    opacity: 0;
    transform: scale(0.9);
    z-index: grid.$context-menu-z-index;

    &.show {
      display: grid;
      animation: fadeIn grid.$fade-in-duration grid.$fade-in-easing forwards;
    }

    .menu-item {
      display: flex;
      align-items: center;
      gap: grid.$menu-item-gap;
      padding: grid.$menu-item-padding;
      background: none;
      border: none;
      text-align: center;
      cursor: pointer;
      transition: grid.$menu-item-transition;

      &:hover {
        background-color: colors.pick(gray, 3)
      }
    }
  }

  .ag-drag-box {
    position: absolute;
    pointer-events: none;
    background-color: grid.$drag-box-background;
    border: grid.$drag-box-border;
    z-index: grid.$drag-box-z-index;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(grid.$fade-in-initial-scale);
    }
    to {
      opacity: 1;
      transform: scale(grid.$fade-in-final-scale);
    }
  }
}