@use '../styles/constants/colors' as colors;
@use './toggle' as toggle;

.seo-toggle {
  display: inline-grid;
  grid-auto-flow: column;
  align-items: center;
  column-gap: toggle.$toggle-gap;
  cursor: pointer;
  height: 100%;
  position: relative;

  .slider {
    position: relative;
    width: toggle.$toggle-width;
    height: toggle.$toggle-height;
    background-color: colors.pick(gray, 5);
    border-radius: toggle.$toggle-border-radius;
    transition: background-color toggle.$toggle-transition-duration toggle.$toggle-transition-easing;

    &::before {
      content: "";
      position: absolute;
      top: toggle.$toggle-slider-margin;
      left: toggle.$toggle-slider-margin;
      width: toggle.$toggle-slider-size;
      height: toggle.$toggle-slider-size;
      border-radius: toggle.$toggle-slider-border-radius;
      background: #fff;
      transition: transform toggle.$toggle-transition-duration toggle.$toggle-transition-easing;
      box-shadow: toggle.$toggle-slider-box-shadow;
    }
  }

  .label-text {
    user-select: none;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: toggle.$toggle-label-underline-bottom;
      left: 0;
      width: 0%;
      height: toggle.$toggle-label-underline-height;
      background: colors.$secondary-color;
      transition: width toggle.$toggle-label-underline-duration toggle.$toggle-transition-easing;
    }
  }

  &.is-disabled {
    cursor: not-allowed;
    opacity: toggle.$toggle-disabled-opacity;
    pointer-events: none;
  }

  input { display: none; }

  input[type='checkbox']:checked + .slider {
    background-color: colors.$secondary-color;

    &::before {
      transform: translateX(toggle.$toggle-slider-translate-distance);
    }
  }

  input[type='checkbox']:checked ~ .label-text {
    color: colors.$secondary-color;

    &:after {
      width: 100%;
      transition: all toggle.$toggle-label-underline-checked-duration toggle.$toggle-transition-easing;
    }
  }
}