@use './style-color' as nav-colors;

// 네비게이션 토글 버튼
.nav-toggle-btn {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background-color: nav-colors.$toggle-bg;
  color: nav-colors.$toggle-color;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  box-shadow: 0 2px 8px nav-colors.$toggle-shadow;
  z-index: 100000;
  border: none;
  cursor: pointer;
  transition: .3s ease-in-out;

  &:hover {
    opacity: 0.7;
  }

  // 다크모드 지원
  :global(body.dark) & {
    background-color: nav-colors.$toggle-bg-dark;
    color: nav-colors.$toggle-color-dark;
    box-shadow: 0 2px 8px nav-colors.$toggle-shadow-dark;
  }
}